<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orginsights PDF</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="pdf_templates/css/main.css">
</head>
<body>
    <!-- Page 1 -->
    <div class="logo">
        <img src="pdf_templates/images/logo.png" alt="">
    </div>
    <div class="banner">
        <img src="pdf_templates/images/banner.jpg" alt="">
    </div>
    <div class="text-center">
        <h1 class="main-title">
            ORGINSIGHTS ASSESSMENT
        </h1>
        <h2 class="main-title__sub">Art Dealer</h2>
        <span>January 28, 2021</span>
    </div>
    <div class="page_break"></div>

    <!-- Page 2 -->

    <div class="page-logo">
        <img src="pdf_templates/images/logo.png" alt="">
        <div class="site-name">
            orginsight.io
            <div class="green-box"></div>
        </div>
    </div>
    <div class="page-header">
        <h1 class="main-headline">ABOUT</h1>
        <h2 class="sub-headline">THIS REPORT</h2>
        <p>Thank you for completing the OrgInsights Assessment. The following pages will walk you through your results. This report will help you in the following ways:</p>
    </div>
    <div class="container">
        <ul>
            <li>
                <div class="icon-wrapper">
                    <img src="pdf_templates/images/check_mark.png" alt="" class="icon">
                </div>
                <div class="text">
                    It will show you the gap (positive or negative) between your perception of your capabilities, and what others see in you.
                </div>
            </li>
            <li>
                <div class="icon-wrapper">
                    <img src="pdf_templates/images/check_mark.png" alt="" class="icon">
                </div>
                <div class="text">
                    The report will highlight the most important skills that you need to develop to address gaps and to improve your competitive edge.
                </div>
            </li>
            <li>
                <div class="icon-wrapper">
                    <img src="pdf_templates/images/check_mark.png" alt="" class="icon">
                </div>
                <div class="text">
                    Because feedback from others is generally twice as accurate as your own assessment, this report will help increase your self awareness. this first step to great leaders, is knowing your capabilities;
                    <br>
                    we want to help you on that journey.
                </div>
            </li>
        </ul>
    </div>
    <div class="report-summary-wrapper">
        <div class="report-summary">
            <img src="pdf_templates/images/hands.png" alt="" class="hands">
            <div class="container">
                <h5>Report Summary</h5>
                <ul>
                    <li>
                        <div class="icon-wrapper">
                            <div class="number-icon">
                                1
                            </div>
                        </div>
                        <div class="text">
                            First Breathe: Take all the information you see ahead in your stride. Perhaps individuals haven't seen you operating at your best? This doesn't mean that you are not capable of more. They may have higher expectations or may not have seen the extent of your true capabilities.You will see your own self-assessment scores compared to that of the individuals you invited to respond. If you don't agree with the scores provided, take a step back and do your own research. Develop a holistic understanding of why you may have received these ratings.
                        </div>
                    </li>
                    <li>
                        <div class="icon-wrapper">
                            <div class="number-icon">
                                2
                            </div>
                        </div>
                        <div class="text">
                            Unused strengths are quickly lost. Like any muscle in your body, you need to constantly practice and develop your capabilities to ensure that they stay assets to you.
                        </div>
                    </li>
                    <li>
                        <div class="icon-wrapper">
                            <div class="number-icon">
                                3
                            </div>
                        </div>
                        <div class="text">
                            The information provided has been kept anonymous, and there is a reason for that. Individuals will provide more honest feedback when they know it will not be traced back to them. Do not try and find out who the individuals who answered are as this will affect the honesty of future responses.
                        </div>
                    </li>
                    <li>
                        <div class="icon-wrapper">
                            <div class="number-icon">
                                4
                            </div>
                        </div>
                        <div class="text">
                            Our ratings will be displayed on a scale from 0 (needs improvement) to 5 (exceptional).
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page_break"></div>

    <!-- Page 3 -->
    <img src="pdf_templates/images/page3_banner.png" alt="" class="page3-banner">
    <div class="capb-model">
        <div class="left-section">
            <div class="letter">L</div>
            <div class="details">
                <h6>LIMITS RISK</h6>
                <p>
                    Maneuvers through complex situations and anticipates risks, while charting a path that avoids negative outcomes and achieves solutions with appropriate governance.
                </p>
            </div>
        </div>
        <div class="right-section">
            <div class="list-item">
                <div class="icon"></div>
                <p>
                    <b>Scans for Political and External Impacts</b> Uses understanding of broad political, social and economic factors to maneuver through complex situations
                </p>
            </div>
            <div class="list-item">
                <div class="icon"></div>
                <p>
                    <b>Reasons Critically and Solves</b> ProblemsConducts root cause analysis to understand the problem and identify the practical and effective solutions
                </p>
            </div>
            <div class="list-item">
                <div class="icon"></div>
                <p>
                    <b>Manages RisksForecasts</b> and evaluates risk and identifies processes to mitigate the negative impacts while attaining objectives
                </p>
            </div>
            <div class="list-item">
                <div class="icon"></div>
                <p>
                    <b>Establishes Governance</b> Works with stakeholders to ensure accountability, ethical behaviour, fairness and transparency
                </p>
            </div>
            <div class="separator"></div>
        </div>
    </div>
    <div class="clear-fix"></div>
    <div class="capb-model" style="margin-top: 20px;">
        <div class="left-section">
            <div class="letter">E</div>
            <div class="details">
                <h6>EMBRACES AGILITY</h6>
                <p>
                    Navigates changing situations and priorities. Thrives in change, anticipates and seizes opportunities, and adjusts behavior to empower teams.
                </p>
            </div>
        </div>
        <div class="right-section">
            <div class="list-item">
                <div class="icon"></div>
                <p>
                    <b>Navigates Policies & People</b> Leverages a deep understanding of how organizations work to achieve objectives through tactful and savvy approaches
                </p>
            </div>
            <div class="list-item">
                <div class="icon"></div>
                <p>
                    <b>Thrives in Chaos</b> Maintains productivity in the face of change by adapts priorities and behavior
                </p>
            </div>
            <div class="list-item">
                <div class="icon"></div>
                <p>
                    <b>Leads and Embraces Change Scans</b> for opportunities to drive positive change and overcome barriers by remaining open to new ideas and approaches
                </p>
            </div>
            <div class="list-item">
                <div class="icon"></div>
                <p>
                    <b>Plans for the Future</b> Anticipates emerging trends, organizational needs and emerging pitfalls to build breakthrough strategies
                </p>
            </div>
            <div class="separator"></div>
        </div>
    </div>
    <div class="capb-model" style="margin-top: 20px;">
        <div class="left-section">
            <div class="letter">A</div>
            <div class="details">
                <h6>ACHIEVES EXCELLENCE</h6>
                <p>
                    Navigates changing situations and priorities. Thrives in change, anticipates and seizes opportunities, and adjusts behavior to empower teams.
                </p>
            </div>
        </div>
        <div class="right-section">
            <div class="list-item">
                <div class="icon"></div>
                <p>
                    <b>Navigates Policies & People</b> Leverages a deep understanding of how organizations work to achieve objectives through tactful and savvy approaches
                </p>
            </div>
            <div class="list-item">
                <div class="icon"></div>
                <p>
                    <b>Thrives in Chaos</b> Maintains productivity in the face of change by adapts priorities and behavior
                </p>
            </div>
            <div class="list-item">
                <div class="icon"></div>
                <p>
                    <b>Leads and Embraces Change Scans</b> for opportunities to drive positive change and overcome barriers by remaining open to new ideas and approaches
                </p>
            </div>
            <div class="list-item">
                <div class="icon"></div>
                <p>
                    <b>Plans for the Future</b> Anticipates emerging trends, organizational needs and emerging pitfalls to build breakthrough strategies
                </p>
            </div>
            <div class="separator"></div>
        </div>
    </div>
    <div class="capb-model" style="margin-top: 20px;">
        <div class="left-section">
            <div class="letter">D</div>
            <div class="details">
                <h6>DEVELOPS 
                    RELATIONSHIPS</h6>
                <p>
                    Navigates changing situations and priorities. Thrives in change, anticipates and seizes opportunities, and adjusts behavior to empower teams.
                </p>
            </div>
        </div>
        <div class="right-section">
            <div class="list-item">
                <div class="icon"></div>
                <p>
                    <b>Navigates Policies & People</b> Leverages a deep understanding of how organizations work to achieve objectives through tactful and savvy approaches
                </p>
            </div>
            <div class="list-item">
                <div class="icon"></div>
                <p>
                    <b>Thrives in Chaos</b> Maintains productivity in the face of change by adapts priorities and behavior
                </p>
            </div>
            <div class="list-item">
                <div class="icon"></div>
                <p>
                    <b>Leads and Embraces Change Scans</b> for opportunities to drive positive change and overcome barriers by remaining open to new ideas and approaches
                </p>
            </div>
            <div class="list-item">
                <div class="icon"></div>
                <p>
                    <b>Plans for the Future</b> Anticipates emerging trends, organizational needs and emerging pitfalls to build breakthrough strategies
                </p>
            </div>
            <div class="list-item">
                <div class="icon"></div>
                <p>
                    <b>Empowers Teams</b> Creates resilient ecosystems by aligning and connecting team members through shared goals and resources
                </p>
            </div>
            <div class="separator"></div>
        </div>
    </div>
    <div class="capb-model" style="margin-top: 20px;">
        <div class="left-section">
            <div class="letter">S</div>
            <div class="details">
                <h6>SETS PURPOSE</h6>
                <p>
                    Navigates changing situations and priorities. Thrives in change, anticipates and seizes opportunities, and adjusts behavior to empower teams.
                </p>
            </div>
        </div>
        <div class="right-section">
            <div class="list-item">
                <div class="icon"></div>
                <p>
                    <b>Navigates Policies & People</b> Leverages a deep understanding of how organizations work to achieve objectives through tactful and savvy approaches
                </p>
            </div>
            <div class="list-item">
                <div class="icon"></div>
                <p>
                    <b>Thrives in Chaos</b> Maintains productivity in the face of change by adapts priorities and behavior
                </p>
            </div>
            <div class="list-item">
                <div class="icon"></div>
                <p>
                    <b>Leads and Embraces Change Scans</b> for opportunities to drive positive change and overcome barriers by remaining open to new ideas and approaches
                </p>
            </div>
        </div>
    </div>
    <!-- <div class="page_break"></div> -->

    <!-- Page 4 -->

    <div class="page-logo">
        <img src="pdf_templates/images/logo.png" alt="">
        <div class="site-name">
            orginsight.io
            <div class="green-box"></div>
        </div>
    </div>
    <div class="page-header">
        <h1 class="page4-headline">HIGH LEVEL SUMMARY OF ASSESSMENT</h1>
    </div>
    <div class="container">
        <br><br>
        <div class="summary-boxes">
            <div class="summary-box">
                <div class="title">TOP SCORING CATEGORY</div>
                <div class="info">OrgInsights rated you highest in this category</div>
                <div class="clear-fix"></div>
                <div class="icon-text">
                    <div class="icon-wrapper">
                        <img src="pdf_templates/images/summary_icon.png" alt="">
                    </div>
                    <div class="text">
                        Navigates changing situations and priorities. Thrives in change, anticipates and seizes opportunities, and adjusts behavior to empower teams.
                    </div>
                </div>
                <div class="radius-box-title">
                    EMBRACES AGILITY
                </div>
                <div class="radius-box">
                    Your strength lies in being able to anticipate and respond to changes with swift, focused, and future-oriented actions; You are able to thrive in chaos, navigate changes with tact and political savviness thus allowing you to achieve desired results.
                </div>
            </div>
            <div class="summary-box float-right">
                <div class="title">TOP SCORING CATEGORY</div>
                <div class="info">OrgInsights rated you highest in this category</div>
                <div class="clear-fix"></div>
                <div class="icon-text">
                    <div class="icon-wrapper">
                        <img src="pdf_templates/images/summary_icon.png" alt="">
                    </div>
                    <div class="text">
                        Navigates changing situations and priorities. Thrives in change, anticipates and seizes opportunities, and adjusts behavior to empower teams.
                    </div>
                </div>
                <div class="radius-box-title">
                    EMBRACES AGILITY
                </div>
                <div class="radius-box">
                    Your strength lies in being able to anticipate and respond to changes with swift, focused, and future-oriented actions; You are able to thrive in chaos, navigate changes with tact and political savviness thus allowing you to achieve desired results.
                </div>
            </div>
        </div>
        <div class="summary-boxes">
            <div class="summary-box">
                <div class="title">TOP SCORING CATEGORY</div>
                <div class="info">OrgInsights rated you highest in this category</div>
                <div class="clear-fix"></div>
                <div class="icon-text">
                    <div class="icon-wrapper">
                        <img src="pdf_templates/images/summary_icon.png" alt="">
                    </div>
                    <div class="text">
                        Navigates changing situations and priorities. Thrives in change, anticipates and seizes opportunities, and adjusts behavior to empower teams.
                    </div>
                </div>
                <div class="radius-box-title">
                    EMBRACES AGILITY
                </div>
                <div class="radius-box">
                    Your strength lies in being able to anticipate and respond to changes with swift, focused, and future-oriented actions; You are able to thrive in chaos, navigate changes with tact and political savviness thus allowing you to achieve desired results.
                </div>
            </div>
            <div class="summary-box float-right">
                <div class="title">TOP SCORING CATEGORY</div>
                <div class="info">OrgInsights rated you highest in this category</div>
                <div class="clear-fix"></div>
                <div class="icon-text">
                    <div class="icon-wrapper">
                        <img src="pdf_templates/images/summary_icon.png" alt="">
                    </div>
                    <div class="text">
                        Navigates changing situations and priorities. Thrives in change, anticipates and seizes opportunities, and adjusts behavior to empower teams.
                    </div>
                </div>
                <div class="radius-box-title">
                    EMBRACES AGILITY
                </div>
                <div class="radius-box">
                    Your strength lies in being able to anticipate and respond to changes with swift, focused, and future-oriented actions; You are able to thrive in chaos, navigate changes with tact and political savviness thus allowing you to achieve desired results.
                </div>
            </div>
        </div>
    </div>

    <div class="page_break"></div>

    <!-- Page 5 -->

    <div class="page-logo">
        <img src="pdf_templates/images/logo.png" alt="">
        <div class="site-name">
            orginsight.io
            <div class="green-box"></div>
        </div>
    </div>
    <div class="page-header">
        <h1 class="page4-headline">HIGH LEVEL SUMMARY OF ASSESSMENT</h1>
    </div>
    <div class="container">
        <div class="score-graph">
            <div class="letter">
                L
            </div>
            <div class="right-section">
                <div class="title">LIMITS RISK</div>
                <small>YOUR SCORE</small>
                <div class="middle-wrapper">
                    <div class="main-graphs">
                        <div class="graph-wrapper graph-wrapper-1">
                            <div class="progress" style="width: 80%"></div>
                            <div class="graph-box first"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                        </div>
                        <div class="graph-wrapper graph-wrapper-2">
                            <div class="progress" style="width: 71%"></div>
                            <div class="graph-box first"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                        </div>
                    </div>
                    <div class="graph-rating">
                        <div class="rate-1">
                            4.0
                        </div>
                        <div class="rate-2">
                            3.2
                        </div>
                    </div>
                    <div class="gap">
                        GAP <small>-0.9</small>
                    </div>
                    <div class="icon">
                        <img src="pdf_templates/images/mountain-small.png" alt="">
                    </div>
                </div>
                <small>ORGINSIGHTS SCORE</small>
            </div>
        </div>
        <div class="score-graph">
            <div class="letter">
                E
            </div>
            <div class="right-section">
                <div class="title">EMBRACES AGILITY</div>
                <small>YOUR SCORE</small>
                <div class="middle-wrapper">
                    <div class="main-graphs">
                        <div class="graph-wrapper graph-wrapper-1">
                            <div class="progress" style="width: 80%"></div>
                            <div class="graph-box first"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                        </div>
                        <div class="graph-wrapper graph-wrapper-2">
                            <div class="progress" style="width: 71%"></div>
                            <div class="graph-box first"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                        </div>
                    </div>
                    <div class="graph-rating">
                        <div class="rate-1">
                            4.0
                        </div>
                        <div class="rate-2">
                            3.2
                        </div>
                    </div>
                    <div class="gap">
                        GAP <small>-0.9</small>
                    </div>
                </div>
                <small>ORGINSIGHTS SCORE</small>
            </div>
        </div>
        <div class="score-graph">
            <div class="letter">
                A
            </div>
            <div class="right-section">
                <div class="title">ACHIEVES EXCELLENCE</div>
                <small>YOUR SCORE</small>
                <div class="middle-wrapper">
                    <div class="main-graphs">
                        <div class="graph-wrapper graph-wrapper-1">
                            <div class="progress" style="width: 80%"></div>
                            <div class="graph-box first"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                        </div>
                        <div class="graph-wrapper graph-wrapper-2">
                            <div class="progress" style="width: 71%"></div>
                            <div class="graph-box first"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                        </div>
                    </div>
                    <div class="graph-rating">
                        <div class="rate-1">
                            4.0
                        </div>
                        <div class="rate-2">
                            3.2
                        </div>
                    </div>
                    <div class="gap">
                        GAP <small>-0.9</small>
                    </div>
                </div>
                <small>ORGINSIGHTS SCORE</small>
            </div>
        </div>
        <div class="score-graph">
            <div class="letter">
                D
            </div>
            <div class="right-section">
                <div class="title">DEVELOPS RELATIONSHIPS</div>
                <small>YOUR SCORE</small>
                <div class="middle-wrapper">
                    <div class="main-graphs">
                        <div class="graph-wrapper graph-wrapper-1">
                            <div class="progress" style="width: 80%"></div>
                            <div class="graph-box first"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                        </div>
                        <div class="graph-wrapper graph-wrapper-2">
                            <div class="progress" style="width: 71%"></div>
                            <div class="graph-box first"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                        </div>
                    </div>
                    <div class="graph-rating">
                        <div class="rate-1">
                            4.0
                        </div>
                        <div class="rate-2">
                            3.2
                        </div>
                    </div>
                    <div class="gap">
                        GAP <small>-0.9</small>
                    </div>
                </div>
                <small>ORGINSIGHTS SCORE</small>
            </div>
        </div>
        <div class="score-graph">
            <div class="letter">
                S
            </div>
            <div class="right-section">
                <div class="title">SETS PURPOSE</div>
                <small>YOUR SCORE</small>
                <div class="middle-wrapper">
                    <div class="main-graphs">
                        <div class="graph-wrapper graph-wrapper-1">
                            <div class="progress" style="width: 80%"></div>
                            <div class="graph-box first"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                        </div>
                        <div class="graph-wrapper graph-wrapper-2">
                            <div class="progress" style="width: 71%"></div>
                            <div class="graph-box first"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                        </div>
                    </div>
                    <div class="graph-rating">
                        <div class="rate-1">
                            4.0
                        </div>
                        <div class="rate-2">
                            3.2
                        </div>
                    </div>
                    <div class="gap">
                        GAP <small>-0.9</small>
                    </div>
                </div>
                <small>ORGINSIGHTS SCORE</small>
            </div>
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="chart-bottom">
        <div class="left">
            <h5>TOP THREE CAPABILITIES</h5>
            <p>
                These are capabilities that had the highest scores based on your assessment
            </p>
            <img src="pdf_templates/images/graph1.png" alt="">
        </div>
        <div class="right">
            <h5>TOP THREE CAPABILITIES</h5>
            <p>
                These are capabilities that had the highest scores based on your assessment
            </p>
            <img src="pdf_templates/images/graph2.png" alt="">
        </div>
    </div>

    <!-- Page 6 -->
    <div class="page-logo">
        <img src="pdf_templates/images/logo.png" alt="">
        <div class="site-name">
            orginsight.io
            <div class="green-box"></div>
        </div>
    </div>
    <div class="page-header page6-header">
        <h1 class="page6-headline">CREATING PURPOSE DETAILED BREAKDOWN</h1>
        <p>
            The next section includes your ratings for the Creating Purpose category. Each question includes the results of your Self— Assess- ment score compared to the average scores of the individuals you invited to respond as well as the negative or positive gap in scores
        </p>
    </div>
    <div class="clear-fix"></div>
    <div class="creating-purpose-wrapper">
        <div class="creating-purpose">
            <div class="left">
                <img src="pdf_templates/images/creating_purpose.png" width="100">
                <span>CATEGORY SCORE</span>
            </div>
            <div class="middle">
                <div class="title">CREATING PURPOSE</div>
                <p>
                    Amplifies and aligns diverse perspectives and voices, creating a vision of share pur- pose in a manner which instills confidence and inspires others; connecting stories and data points to create clear communications and concrete calls to action.
                </p>
            </div>
            <div class="right">
                <h6>Pay attention to flags</h6>
                <div>
                    <img src="pdf_templates/images/green_flag_bg.png" width="40">
                    <span>
                        Hidden Talent: You have rated yourself lower than your respondents rated you. Action: Consider trying to build on this strength
                    </span>
                </div>
                <div class="second">
                    <img src="pdf_templates/images/red_flag_bg.png" width="40">
                    <span>
                        Hidden Talent: You have rated yourself lower than your respondents rated you. Action: Consider trying to build on this strength
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container page6">
        <div class="score-graph page6-score-graph first">
            <div class="round-wrapper">
                <div class="round">1</div>
            </div>
            <div class="right-section">
                <div class="title">SCANS FOR POLITICALS AND INTERNAL IMPACTS</div>
                <small>YOUR SCORE</small>
                <div class="middle-wrapper">
                    <div class="main-graphs">
                        <div class="graph-wrapper graph-wrapper-1">
                            <div class="progress" style="width: 92%"></div>
                            <div class="graph-box first"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                        </div>
                        <div class="graph-wrapper graph-wrapper-2">
                            <div class="progress" style="width: 25%"></div>
                            <div class="graph-box first"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                        </div>
                    </div>
                    <div class="graph-rating">
                        <div class="rate-1">
                            4.0
                        </div>
                        <div class="rate-2">
                            3.2
                        </div>
                    </div>
                    <div class="gap">
                        GAP <small>-0.9</small>
                    </div>
                    <div class="icon">
                        <img src="pdf_templates/images/green_flag.png" alt="">
                    </div>
                </div>
                <small>ORGINSIGHTS SCORE</small>
            </div>
        </div>
        <div class="clear-fix"></div>
        <div class="score-graph page6-score-graph">
            <div class="round-wrapper">
                <div class="round">2</div>
            </div>
            <div class="right-section">
                <div class="title">SCANS FOR POLITICALS AND INTERNAL IMPACTS</div>
                <small>YOUR SCORE</small>
                <div class="middle-wrapper">
                    <div class="main-graphs">
                        <div class="graph-wrapper graph-wrapper-1">
                            <div class="progress" style="width: 92%"></div>
                            <div class="graph-box first"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                        </div>
                        <div class="graph-wrapper graph-wrapper-2">
                            <div class="progress" style="width: 85%"></div>
                            <div class="graph-box first"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                        </div>
                    </div>
                    <div class="graph-rating">
                        <div class="rate-1">
                            4.0
                        </div>
                        <div class="rate-2">
                            3.2
                        </div>
                    </div>
                    <div class="gap">
                        GAP <small>-0.9</small>
                    </div>
                    <div class="icon">
                        <img src="pdf_templates/images/green_flag.png" alt="">
                    </div>
                </div>
                <small>ORGINSIGHTS SCORE</small>
            </div>
        </div>
        <div class="clear-fix"></div>
        <div class="score-graph page6-score-graph">
            <div class="round-wrapper">
                <div class="round">3</div>
            </div>
            <div class="right-section">
                <div class="title">SCANS FOR POLITICALS AND INTERNAL IMPACTS</div>
                <small>YOUR SCORE</small>
                <div class="middle-wrapper">
                    <div class="main-graphs">
                        <div class="graph-wrapper graph-wrapper-1">
                            <div class="progress" style="width: 92%"></div>
                            <div class="graph-box first"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                        </div>
                        <div class="graph-wrapper graph-wrapper-2">
                            <div class="progress" style="width: 25%"></div>
                            <div class="graph-box first"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                        </div>
                    </div>
                    <div class="graph-rating">
                        <div class="rate-1">
                            4.0
                        </div>
                        <div class="rate-2">
                            3.2
                        </div>
                    </div>
                    <div class="gap">
                        GAP <small>-0.9</small>
                    </div>
                    <div class="icon">
                        <img src="pdf_templates/images/green_flag.png" alt="">
                    </div>
                </div>
                <small>ORGINSIGHTS SCORE</small>
            </div>
        </div>
        <div class="clear-fix"></div>
        <div class="score-graph page6-score-graph">
            <div class="round-wrapper">
                <div class="round">4</div>
            </div>
            <div class="right-section">
                <div class="title">SCANS FOR POLITICALS AND INTERNAL IMPACTS</div>
                <small>YOUR SCORE</small>
                <div class="middle-wrapper">
                    <div class="main-graphs">
                        <div class="graph-wrapper graph-wrapper-1">
                            <div class="progress" style="width: 52%"></div>
                            <div class="graph-box first"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                        </div>
                        <div class="graph-wrapper graph-wrapper-2">
                            <div class="progress" style="width: 45%"></div>
                            <div class="graph-box first"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                            <div class="graph-box"></div>
                        </div>
                    </div>
                    <div class="graph-rating">
                        <div class="rate-1">
                            4.0
                        </div>
                        <div class="rate-2">
                            3.2
                        </div>
                    </div>
                    <div class="gap">
                        GAP <small>-0.9</small>
                    </div>
                    <div class="icon">
                        <img src="pdf_templates/images/green_flag.png" alt="">
                    </div>
                </div>
                <small>ORGINSIGHTS SCORE</small>
            </div>
        </div>
    </div>
    <div class="page_break"></div>
    <!-- Page 7 -->
    <div class="page-logo">
        <img src="pdf_templates/images/logo.png" alt="">
        <div class="site-name">
            orginsight.io
            <div class="green-box"></div>
        </div>
    </div>
    <div class="page-header page7-header">
        <h1 class="main-headline">CONCLUSION</h1>
    </div>
    <div class="clear-fix"></div>
    <div class="container page7-container">
        <p>Hi Art Dealer,</p>
        <p> Thank you for taking the time to complete our assessment and congratulations on taking a step towards better understanding yourself and learning what you need to do to get ahead in life and your career. Below, we have some advice on how to better leverage your Behavioural strengths as well as how to work on improving your development opportunities.</p>
        <p>
            <b>Behavioural strengths: (top scoring & hidden talent)</b> <br>
            The goal of this assessment is to help you gain a better sense of self-awareness which is known to be strongly linked to better job performance. As a next step, take some time to reflect on your results. You may discover that you are likely to perform well in tasks and responsibilities that tap into your strengths. You can also think about your natural strengths from a motivational perspective. You are likely to be more motivated to perform activities that you prefer, and your strengths are also likely to determine the environments that you enjoy. It's thus important to play to your strengths and figure out the type of work that you are naturally more inclined to excel in and enjoy doing, which would also lead to high level of job satisfaction in addition to superior performance.
        </p>
        <p>
            For each strength that you are now aware, try to be as objective as you can when looking at the relationship between your performance and your strengths. We highly suggest that you build on the strengths identified in this assessment by thinking about what you can start or continue doing in order to further leverage your natural abilities. Also keep in mind that as you reflect on these strengths, be aware of when you might be relying too heavily on a certain strength that may lead to unbalanced results.
        </p>
        <p>
        <b>Development opportunities: (lowest scoring & blind spots)</b> <br>
            As a result of this report, you are now also aware of potential developmental opportunities. These are behaviours that may not play to your intrinsic inclinations but are still important for the high performance. The results of your assessment indicate that these behaviours may not come naturally to you when compared to that of your strengths as discussed above. Thus, activities that require these behaviours may not feel engaging or rewarding to you, and you may be less motivated to perform these activities and they may also take longer to do while requiring more efforts from you.
        </p>
        <p>
            The next step to take in order to improve on your development areas would be to work in conjunction with your manager/mentor/coach/ and create an action plan for the behavioural changes that would be the most beneficial for you to work on in order to see the greatest change in your performance. We suggest following the SMART goal setting technique so that your goals are specific, measurable, attainable, realistic, and time bond. The reason why we recommend doing this with someone else is so that they can keep you accountable and give you guidance and feedback as you embark on the journey to make these changes.
        </p>
        <div class="sig">
            <img src="pdf_templates/images/sig.png" alt="" width="120">
            <div>
                Sean William Scott<br>
                Director, OrgInsights
            </div>
        </div>
    </div>

    <div class="page_break"></div>
    <!-- Page 8 -->
    <div class="page-logo">
        <img src="pdf_templates/images/logo.png" alt="">
        <div class="site-name">
            orginsight.io
            <div class="green-box"></div>
        </div>
    </div>
    <div class="page-header page8-header">
        <h2 class="main-headline">UNLOCK NEXT LEVEL INSIGHTS</h2>
        <p>
            <b>Compare yourself to your peers</b> <br>
            Contact us for information on how to gain access to your Additional Responsive Report where you can compare yourself to your peers.</p>
    </div>
    <div class="clear-fix"></div>
    <div class="page8-container">
        <div class="legends">
            <div class="green">
                <p><img src="pdf_templates/images/green.png" alt="" width="15"> Your Self-Score</p>
            </div>
            <div class="blue">
                <p><img src="pdf_templates/images/blue.png" alt="" width="15"> Population Self-Score</p>
            </div>
        </div>
        <div class="clear-fix"></div>
        <div class="visual-graph-left">
            <div class="graph-item">
                <div class="graph-title">
                    <div class="letter">L</div>
                    <div>
                        <span>IMITS RISK</span>
                    </div>
                </div>
                <div class="progress-names">
                    <div class="name-item">Scans for Political & External impacts</div>
                    <div class="name-item">Reasons Critically & Solves Problems</div>
                    <div class="name-item red">Manages Risks</div>
                    <div class="name-item">Establishes Governance</div>
                </div>
            </div>
            <div class="clear-fix"></div>
            <div class="graph-item">
                <div class="graph-title">
                    <div class="letter">E</div>
                    <div>
                        <span>MBRACES <br> AGILITY</span>
                    </div>
                </div>
                <div class="progress-names">
                    <div class="name-item">Scans for Political & External impacts</div>
                    <div class="name-item">Reasons Critically & Solves Problems</div>
                    <div class="name-item red">Manages Risks</div>
                    <div class="name-item">Establishes Governance</div>
                </div>
            </div>
            <div class="clear-fix"></div>
            <div class="graph-item">
                <div class="graph-title">
                    <div class="letter">L</div>
                    <div>
                        <span>IMITS RISK</span>
                    </div>
                </div>
                <div class="progress-names">
                    <div class="name-item">Scans for Political & External impacts</div>
                    <div class="name-item">Reasons Critically & Solves Problems</div>
                    <div class="name-item red">Manages Risks</div>
                    <div class="name-item">Establishes Governance</div>
                </div>
            </div>
            <div class="clear-fix"></div>
            <div class="graph-item">
                <div class="graph-title">
                    <div class="letter">E</div>
                    <div>
                        <span>MBRACES <br> AGILITY</span>
                    </div>
                </div>
                <div class="progress-names">
                    <div class="name-item">Scans for Political & External impacts</div>
                    <div class="name-item">Reasons Critically & Solves Problems</div>
                    <div class="name-item red">Manages Risks</div>
                    <div class="name-item">Establishes Governance</div>
                </div>
            </div>
            <div class="clear-fix"></div>
            <div class="graph-item">
                <div class="graph-title">
                    <div class="letter">E</div>
                    <div>
                        <span>MBRACES <br> AGILITY</span>
                    </div>
                </div>
                <div class="progress-names">
                    <div class="name-item">Scans for Political & External impacts</div>
                    <div class="name-item">Reasons Critically & Solves Problems</div>
                    <div class="name-item red">Manages Risks</div>
                    <div class="name-item">Establishes Governance</div>
                </div>
            </div>
        </div>
        <div class="visual-graph-right">
            <div class="graph-item">
                <div class="draw-lines">
                    <div class="box first"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box last"></div>
                    <div class="box first"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box last"></div>
                    <div class="box first"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box last"></div>
                    <div class="box first"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box last"></div>
                </div>
                
                <div class="row-item">
                    <div class="green-graph" style="width: 20%;"></div>
                    <div class="blue-graph" style="width: 60%;"></div>
                </div>
                <div class="row-item">
                    <div class="green-graph" style="width: 60%;"></div>
                    <div class="blue-graph" style="width: 90%;"></div>
                </div>
                <div class="row-item">
                    <div class="green-graph" style="width: 80%;"></div>
                    <div class="blue-graph" style="width: 30%;"></div>
                </div>
                <div class="row-item">
                    <div class="green-graph" style="width: 60%;"></div>
                    <div class="blue-graph" style="width: 10%;"></div>
                </div>
                <img src="pdf_templates/images/green_flag.png" alt="" class="flag">
            </div>
            <div class="graph-item">
                <div class="draw-lines">
                    <div class="box first"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box last"></div>
                    <div class="box first"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box last"></div>
                    <div class="box first"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box last"></div>
                    <div class="box first"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box last"></div>
                </div>
                
                <div class="row-item">
                    <div class="green-graph" style="width: 20%;"></div>
                    <div class="blue-graph" style="width: 60%;"></div>
                </div>
                <div class="row-item">
                    <div class="green-graph" style="width: 60%;"></div>
                    <div class="blue-graph" style="width: 90%;"></div>
                </div>
                <div class="row-item">
                    <div class="green-graph" style="width: 80%;"></div>
                    <div class="blue-graph" style="width: 30%;"></div>
                </div>
                <div class="row-item">
                    <div class="green-graph" style="width: 13%;"></div>
                    <div class="blue-graph" style="width: 10%;"></div>
                </div>
                <img src="pdf_templates/images/green_flag.png" alt="" class="flag">
            </div>
            <div class="graph-item">
                <div class="draw-lines">
                    <div class="box first"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box last"></div>
                    <div class="box first"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box last"></div>
                    <div class="box first"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box last"></div>
                    <div class="box first"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box last"></div>
                </div>
                
                <div class="row-item">
                    <div class="green-graph" style="width: 20%;"></div>
                    <div class="blue-graph" style="width: 60%;"></div>
                </div>
                <div class="row-item">
                    <div class="green-graph" style="width: 60%;"></div>
                    <div class="blue-graph" style="width: 90%;"></div>
                </div>
                <div class="row-item">
                    <div class="green-graph" style="width: 80%;"></div>
                    <div class="blue-graph" style="width: 30%;"></div>
                </div>
                <div class="row-item">
                    <div class="green-graph" style="width: 60%;"></div>
                    <div class="blue-graph" style="width: 10%;"></div>
                </div>
                <img src="pdf_templates/images/green_flag.png" alt="" class="flag">
            </div>
            <div class="graph-item">
                <div class="draw-lines">
                    <div class="box first"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box last"></div>
                    <div class="box first"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box last"></div>
                    <div class="box first"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box last"></div>
                    <div class="box first"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box last"></div>
                </div>
                
                <div class="row-item">
                    <div class="green-graph" style="width: 20%;"></div>
                    <div class="blue-graph" style="width: 60%;"></div>
                </div>
                <div class="row-item">
                    <div class="green-graph" style="width: 60%;"></div>
                    <div class="blue-graph" style="width: 90%;"></div>
                </div>
                <div class="row-item">
                    <div class="green-graph" style="width: 80%;"></div>
                    <div class="blue-graph" style="width: 30%;"></div>
                </div>
                <div class="row-item">
                    <div class="green-graph" style="width: 13%;"></div>
                    <div class="blue-graph" style="width: 10%;"></div>
                </div>
                <img src="pdf_templates/images/green_flag.png" alt="" class="flag">
            </div>
            <div class="graph-item">
                <div class="draw-lines">
                    <div class="box first"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box last"></div>
                    <div class="box first"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box last"></div>
                    <div class="box first"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box last"></div>
                    <div class="box first"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box last"></div>
                </div>
                
                <div class="row-item">
                    <div class="green-graph" style="width: 20%;"></div>
                    <div class="blue-graph" style="width: 60%;"></div>
                </div>
                <div class="row-item">
                    <div class="green-graph" style="width: 60%;"></div>
                    <div class="blue-graph" style="width: 90%;"></div>
                </div>
                <div class="row-item">
                    <div class="green-graph" style="width: 80%;"></div>
                    <div class="blue-graph" style="width: 30%;"></div>
                </div>
                <div class="row-item">
                    <div class="green-graph" style="width: 13%;"></div>
                    <div class="blue-graph" style="width: 10%;"></div>
                </div>
                <img src="pdf_templates/images/green_flag.png" alt="" class="flag">
            </div>
        </div>
        <div class="clear-fix"></div>
        <br><br>
        <img src="pdf_templates/images/page8_btns.png" alt="" width="100%">
    </div>
    <div class="clear-fix"></div>
    <div class="footer">
        <p>Copyrights 2021 Orginsights. All Rights Reserved</p>
    </div>
</body>
</html>